* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: aqua;
}
body {
    font-size: 100; 
    background: linear-gradient (68.15deg, #e7f26d 20.%, #72f3f7 20.%)
}

.cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabeçalho-imagem {
    height: 70px;
}

.cabeçalho-menu {
    display: flex;
    gap: 35px;
}